<section class="handy-home">
  <!--
    <section class="handy-home-header">






      <div id="Scrollable" class="sidenav-wrap">








        <h2 id="close" ><img src="{{rc.getsetting.logo}}"></h2>






        <ul class="" ng-if="username ==''">






          <li><a href="/login" ><i class="fa fa-user" aria-hidden="true"></i> {{'LOGIN' | translate}}</a></li>






          <li><a href="/signup" ><i class="fa fa-pencil" aria-hidden="true"></i> {{'SIGN_UP' | translate}}</a></li>






        </ul>






        <ul class="" ng-if="username!=''">






          <li>






            <a ui-sref="landing" > <i class="fa fa-home" aria-hidden="true"></i>






                {{'HOME' | translate}}






              </a> </li>






          <li><a ui-sref="messages" > <i class="fa fa-envelope" aria-hidden="true"></i>






               {{'MESSAGES' | translate}} ({{chatCount}})






              </a>






          </li>






          <li> <a ui-sref="notifications"> <i class="fa fa-bell" aria-hidden="true"></i>






                {{'NOTIFICATIONS' | translate}} ({{notifyCount}})






              </a>






          </li>






          <li>






            <a ui-sref="account" > <i class="fa fa-user" aria-hidden="true"></i>






              {{'MY_ACCOUNT' | translate}}






              </a>






          </li>






          <li> <a ui-sref="logout" > <i class="fa fa-sign-out" aria-hidden="true"></i>






                {{'Logout' | translate}}






              </a>






          </li>







        </ul>






      </div>






      <nav class=" navbar  navbar-inverse">






        <div class="container">






          <div class="navbar-header">






            <button type="button" class="navbar-toggle" id="open" >






        <span class="icon-bar"></span>






        <span class="icon-bar"></span>






        <span class="icon-bar"></span>






        </button>






            <a class="navbar-brand" href="#"><img style="width: auto;max-height: 35px;" src="{{rc.getsetting.light_logo}}" class=""></a>






          </div>






          <div class="collapse navbar-collapse" id="myNavbar">






            <ul class="nav navbar-nav navbar-right" ng-if="username ==''">






              <li><a href="/login" ><span class=""><img src="uploads/images/homepage/user-icon.png"></span>{{'LOGIN' | translate}}</a></li>






              <li><a href="/signup" ><span class=""><img src="uploads/images/homepage/pencil-icon.png"></span>{{'SIGN_UP' | translate}} </a></li>






            </ul>







            <ul class="nav navbar-nav navbar-right" ng-if="username!=''">






              <li>






                <a ui-sref="landing" onclick="closeNav()">






                  <span class="icon entypo home-home"> <i class="fa fa-home" aria-hidden="true"></i></span>






                  <span class="text">{{'HOME' | translate}}</span>






                </a>






              </li>






              <li>






                <a ui-sref="messages" onclick="closeNav()">






                  <span class="icon entypo mail"><i class="fa fa-envelope" aria-hidden="true"></i></span>






                  <span class="text">{{'MESSAGES' | translate}} ({{chatCount}}) </span>






                </a>






              </li>






              <li>






                <a ui-sref="notifications">






                  <span class="icon entypo mail"><i class="fa fa-bell" aria-hidden="true"></i></span>






                  <span class="text">{{'NOTIFICATIONS' | translate}} ({{notifyCount}}) </span>






                </a>






              </li>






              <li>






                <a ui-sref="account" onclick="closeNav()">






                  <span class="icon entypo user"><i class="fa fa-user" aria-hidden="true"></i></span>






                  <span class="text">{{'MY_ACCOUNT' | translate}}</span>






                </a>






              </li>






              <li>






                <a ui-sref="logout" onclick="closeNav()">






                  <span class="icon entypo logout"><i class="fa fa-sign-out" aria-hidden="true"></i></span>






                  <span class="text">{{'Logout' | translate}}</span>






                </a>






              </li>







            </ul>







          </div>






        </div>






      </nav>






    </section>
  -->
  <!--
    <section



      id="banner"



      class="handy-home-banner jarallax"



      style="background-image:url({{MAC.lan_backgroundimg}});"



    >
  -->
  <div
    class="container1"
    style="width: 100%;







    background-color: white !important;







    margin-top: 10%;







    padding: 0% 1%;







    box-sizing: border-box;







    display: inline-block;







    margin-bottom: 4%;"
  >
    <!--
      <div class="col-sm-12 col-xs-12">





        <div class="search-wrap">






          <div class="search-wrap-inner">






            <form name="searchform" class="frm-fields" submit-validate role="form" novalidate>






              <div class="main-cat-search" ng-class="{ 'has-error' : searchform.searchfield.$invalid && !searchform.searchfield.$pristine, 'has-success' : searchform.searchfield.$valid && !searchform.searchfield.$pristine}">






                <ui-select name="parent" focus-on="UiSelectParentCategory" ng-model="searchData.parent" theme="selectize" on-select="MAC.getsubcategory(searchData.parent._id)"






                  class="" title="Choose a Category">






                  <ui-select-match placeholder="{{'CHOOSE A CATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>






                  <ui-select-choices repeat="item in MAC.data.response[4].Category | filter: $select.search">






                    <div ng-bind-html="item.name | highlight: $select.search"></div>






                  </ui-select-choices>






                </ui-select>






              </div>






              <div class="sub-cat-search">






                <ui-select name="child" ng-model="searchData.child" theme="selectize" ng-click="MAC.onfocusSubCat()" class="" title="Choose a Subcategory">






                  <ui-select-match placeholder="{{'CHOOSE A SUBCATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>






                  <ui-select-choices repeat="item1 in MAC.subcategorydata | filter: $select.search">






                    <div ng-bind-html="item1.name | highlight: $select.search"></div>






                  </ui-select-choices>






                </ui-select>






              </div>






              <div class="btn-search">






                <button type="submit" class="btn btn-block" ng-click="search(searchData)">{{'SEARCH' | translate}}</button>






              </div>






            </form>






          </div>






        </div>






      </div>
    -->
    <div class="banner-content" style="width: 40%; float: left;   margin: 0;">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <!--
            <h2 class="main-title">WE FIND SERVICES FOR YOU</h2>


            <h5 class="sub-title">Help around the home is just a few clicks away</h5>
          -->
          <h2 class="main-title">{{ MAC.lan_bannername }}</h2>
          <p
            style="font-size: 27px !important; color: rgb(38, 50, 56) !important;"
          >
            {{ MAC.lan_bannerdes }}
          </p>
          <p style=" color: rgb(38, 50, 56) !important;">
            Such as Home Services, Dog Walkers, Tutors, Trucking Stops,
            Automobile Services, Care Services, Medical, Body Care, Hospitality,
            Medical Laboratory, Legal and more!
          </p>
          <a href="#section1">
            <button
              id="click"
              class="taskbtn"
              style="border: 4px solid #ffffff;color: #080808;font-size: 20px;background-color: rgb(0, 237, 164) !important;"
            >
              DOWNLOAD THE APP
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="banner-image"><img src="{{MAC.lan_backgroundimg}}" /></div>
  </div>
  <!-- </section> -->

  <section class="handy-home-overview" style="min-height:450px;">
    <div class="container">
      <div class="handy-home-overview-inner">
        <div
          class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10"
        >
          <h2>How it works</h2>
          <h4>The help you need is just a few clicks away</h4>

          <!--
            <div class="col-sm-12 col-xs-12" ng-repeat="postheader in MAC.postheader">





              <div class="col-sm-6 col-xs-12">






                <div style="width:100px;height:100px;background-color: #000000;border-radius:50px; color:#ffffff;text-align: center;padding-top: 15px; ">






                  <h2>1</h2>






                </div>






                <h2 class="main-title">{{postheader.title}}</h2>






                <p class="sub-title">{{postheader.description}}</p>






              </div>






              <div class="col-sm-6 col-xs-12">






                <img src="{{postheader.image}}" class="img-responsive" style="max-height: 175px;">






              </div>






            </div>
          -->

          <div class="col-sm-12 col-xs-12" style="padding-top:30px;">
            <div class="col-sm-6 col-xs-12">
              <center>
                <div
                  style="width:100px;height:100px;background-color: #000000;border-radius:50px; color:#ffffff;text-align: center;padding-top: 15px;"
                >
                  <h2>1</h2>
                </div>
                <h2 class="main-title" style="padding-top:20px;">
                  Introduce your location
                </h2>
                <p class="sub-title">
                  Introduce your address to find local providers
                </p>
              </center>
            </div>
            <div class="col-sm-5 col-xs-10">
              <img
                src="../../../app/site/public/images/HOWITWORKS-01.png"
                class="img-responsive"
                style="max-height: 175px;"
              />
            </div>
          </div>

          <div class="col-sm-12 col-xs-12" style="padding-top:35px;">
            <div class="col-sm-6 col-xs-12">
              <img
                src="../../../app/site/public/images/HOWITWORKS-02.png"
                class="img-responsive"
                style="max-height: 175px;"
              />
            </div>
            <div class="col-sm-6 col-xs-12">
              <center>
                <div
                  style="width:100px;height:100px;background-color: #000000;border-radius:50px; color:#ffffff;text-align: center;padding-top: 15px;"
                >
                  <h2>2</h2>
                </div>
                <h2 class="main-title" style="padding-top:20px;">
                  Select your service
                </h2>
                <p class="sub-title">
                  Choose from the different service categories and select the
                  specific task you need.
                </p>
              </center>
            </div>
          </div>

          <div class="col-sm-12 col-xs-12" style="padding-top:35px;">
            <div class="col-sm-6 col-xs-12">
              <center>
                <div
                  style="width:100px;height:100px;background-color: #000000;border-radius:50px; color:#ffffff;text-align: center;padding-top: 15px;"
                >
                  <h2>3</h2>
                </div>
                <h2 class="main-title" style="padding-top:20px;">
                  Choose the tasker
                </h2>
                <p class="sub-title">
                  Select from a list of qualified taskers for the job. Choose
                  yours by their hourly rate and start chatting with them right
                  in the app.
                </p>
              </center>
            </div>
            <div class="col-sm-6 col-xs-12">
              <img
                src="../../../app/site/public/images/HOWITWORKS-03.png"
                class="img-responsive"
                style="max-height: 175px;"
              />
            </div>
          </div>

          <div class="col-sm-12 col-xs-12" style="padding-top:35px;">
            <div class="col-sm-6 col-xs-12">
              <img
                src="../../../app/site/public/images/HOWITWORKS-04.png"
                class="img-responsive"
                style="max-height: 175px;"
              />
            </div>
            <div class="col-sm-6 col-xs-12">
              <center>
                <div
                  style="width:100px;height:100px;background-color: #000000;border-radius:50px; color:#ffffff;text-align: center;padding-top: 15px;"
                >
                  <h2>4</h2>
                </div>
                <h2 class="main-title" style="padding-top:20px;">
                  Have it done
                </h2>
                <p class="sub-title">
                  It's that easy. Your tasker arrives and gets the job done.
                  When your task is complete, payment will happen seamlessly and
                  securely through the app.
                </p>
              </center>
            </div>
          </div>
        </div>
        <div class="row">
          <!--
            <div class="col-sm-12 col-xs-12">





            <a ui-sref="morecategories({slug:0})" class="btn btn-post-task">{{'POST_TASK_HERE' | translate}}</a>
          -->
          <!--
            <p class="sub-title">{{'FREE_POST_TASK_ONLINE' | translate}} </p>
          -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <!--
    <section ng-controller="SlickController" class="handy-home-testimonials jarallax" style="background-image:url('uploads/images/homepage/parallax.jpg');">





    <div class="container">






      <div class="row">






        <div class="col-sm-12 col-xs-12">






          <h2 class="section-title"> {{'WHAT_PEOPLE_SAYING' | translate}} </h2>






        </div>






      </div>
  -->
  <!--
    <div class="row">






     <div class="col-sm-12 col-xs-12">
  -->
  <!--
    <slick dots="false" infinite="true" speed="300" init-onload=true data="MAC.peoplecomment"  slides-to-show="2" touch-move="false" slides-to-scroll="1" settings="slickbrand">
  -->
  <!--
    <slick settings="slickbrand">





          <div class="testimonials-wrap" ng-repeat="people in MAC.peoplecomment">






            <img class="author-image" src="{{people.image}}">






            <div class="testimonials-content">






              <p class="">{{people.description}}






              </p>






              <h3 class="author-name">{{people.name}} / <span class="highlight">{{people.profession}}</span></h3>






            </div>






          </div>






        </slick>






      </div>







    </div>
  -->
  <!--
    </div>





    </section>
  -->

  <!-- shop-ads -->
  <!-- OUR TOP BRANDS Starts -->
  <section class="handy-home-gallery" id="section1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 payment-heading">
          <h3 class="content-title" style="font-size: 30px;">
            <b>Book a Service from the App</b>
          </h3>
          <p class="">
            Download the app for exclusive deals and ease of booking
          </p>
          <div class="testimonials-wrap" style="padding-top:30px;">
            <a
              href="https://play.google.com/store/apps/details?id=com.shameluser"
              target="_blank"
              ><img
                class="author-image"
                src="uploads/images/homepage/google-app.png"
                style="width: 250px;"
            /></a>

            <a href="https://itunes.apple.com/app/id1421743714" target="_blank">
              <img
                class="author-image"
                src="uploads/images/homepage/apple-app.png"
                style="width: 250px;"
            /></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="testimonials-wrap">
            <img
              class="author-image"
              src="uploads/images/homepage/Shamel-Users.png"
              style="width: 400px;"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OUR TOP BRANDS Ends -->
  <!-- On Sale Now Starts -->
  <section class="handy-home-payment" id="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="testimonials-wrap">
            <img
              class="author-image"
              src="uploads/images/homepage/shamel-provider.png"
              style="width: 400px;"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 payment-heading">
          <h3 class="section-title" style="padding-top:30px;font-size: 30px;">
            <b>Provide a Service from the App</b>
          </h3>
          <p class="">
            Download the app for exclusive deals and ease of providing services
          </p>
          <div class="testimonials-wrap" style="padding-top:30px;">
            <a
              href="https://play.google.com/store/apps/details?id=com.shamelProvider"
              target="_blank"
              ><img
                class="author-image"
                src="uploads/images/homepage/google-app.png"
                style="width: 250px;"
            /></a>

            <a href="https://itunes.apple.com/app/id1421776281" target="_blank">
              <img
                class="author-image"
                src="uploads/images/homepage/apple-app.png"
                style="width: 250px;"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="handy-home-gallery">
    <div class="container">
      <div class="center">
        <div class=" payment-heading">
          <h3 class="content-title" style="font-size: 30px;">
            <b>Always have peace of mind.</b>
          </h3>
          <p class="">
            A reliable and safe service is our priority. All our taskers must
            undergo an extensive background and identity checks.
          </p>
          <div class="testimonials-wrap" style="padding-top:30px;">
            <img
              src="../../../app/site/public/images/stencil.1000x1000.png"
              class=""
              style="width:200px;height: 200px;"
            />
            <!--
              <a href="https://play.google.com/store/apps/details?id=com.shameluser" target="_blank"><img class="author-image"





                  src="uploads/images/homepage/google-app.png" style="width: 250px;"></a>






              <img class="author-image" src="uploads/images/homepage/apple-app.png" style="width: 250px;">
            -->
          </div>
        </div>
        <!--
          <div class="col-md-6 col-sm-6 col-xs-12">





            <div class="testimonials-wrap">






              <img class="author-image" src="uploads/images/homepage/Shamel-Users.png" style="width: 400px;">






           </div>






          </div>
        -->
      </div>
    </div>
  </section>

  <section class="handy-home-payment" style="background-color: #F98C65;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="testimonials-wrap">
            <img
              class="author-image"
              src="../../../app/site/public/images/2 photo homepage TASKER.jpg"
              style="width: 650px;"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 payment-heading">
          <h3
            class="section-title"
            style="padding-top:30px;font-size: 30px;padding-left: 20px;color: white"
          >
            <b>Get more clients</b>
          </h3>
          <p class="" style="padding-left:20px;color: white">
            Find local people looking for your service
          </p>
          <div class="testimonials-wrap" style="padding-top:30px;">
            <!--
              <a href="https://play.google.com/store/apps/details?id=com.shamelProvider" target="_blank"><img class="author-image"





                  src="uploads/images/homepage/google-app.png" style="width: 250px;"></a>






              <img class="author-image" src="uploads/images/homepage/apple-app.png" style="width: 250px;">
            -->
            <a href="#section2">
              <button
                id="click"
                class="taskbtn"
                style="margin-left:20px;border: 4px solid #ffffff;background: transparent;color: white;font-size: 20px;"
              >
                BECOME A TASKER
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
    <section class="handy-home-gallery">





      <div class="container">






        <div class="row">






          <div class="col-sm-12 col-xs-12">






            <h2 class="section-title">{{'HIRE FOR A RANGE' | translate}}</h2>






          </div>






          <div class="cvr-dv col-md-12 col-sm-12 col-xs-12">






            <div class="spcf-dv col-md-4 col-sm-4" ng-repeat="categoryinfo in MAC.data.response[0].ActiveCategory">






              <div class="pro1">






                <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">






                  <div class="pro-pict">






                    <img ng-if="categoryinfo.image !=''" src="{{categoryinfo.image}}" err-src alt="gallery">






                    <img ng-if="categoryinfo.image ==''" src="uploads/images/homepage/gallery1.png" alt="gallery">






                  </div>






                  <div class="cat-txtt">






                    <span>{{categoryinfo.name}}</span>






                  </div>






                </a>






              </div>







            </div>






          </div>







          <div class="text-center morebtn-wrap">






            <button type="button" ng-if="MAC.data.response[4].Category.length>6" ui-sref="morecategories({slug:0})" class="btn btn-default view-more ">{{'VIEW_MORE' | translate}}</button>






          </div>






        </div>






      </div>






    </section>
  -->

  <!--
    <section class="handy-home-gallery">





    <div class="container">






      <div class="row">






         <div class="col-sm-12">






           <h2 class="section-title">{{'Newsletter Subscription' | translate}}</h2>






         </div>







         <div class="col-md-4 col-sm-4" ng-repeat="categoryinfo in MAC.data.response[0].ActiveCategory" >






           <div class="pro1">






            <div class="pro-pict" >






             <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">






             <img  ng-if="categoryinfo.image !=''" src="{{categoryinfo.image}}" alt="gallery">






             <img  ng-if="categoryinfo.image ==''" src="uploads/images/homepage/gallery1.png" alt="gallery">






             </a>






            </div>






         </div>






         </div>







         <div class="text-center" >






           <button type="button" ng-if="MAC.data.response[4].Category.length>6" ui-sref="morecategories({slug:0})" class="btn btn-default view-more ">{{'View More' | translate}}</button>






         </div>






      </div>






    </div>






    </section>
  -->

  <section class="handy-home-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="sub-sections">
            <h2 class="section-title">
              {{ "NEWS_LETTER_SUBSCRIPTION" | translate }}
            </h2>
            <p>
              {{ "NEWS_LETTER_SUBSCRIPTION_UPDATE_DESCRIPTION" | translate }}
            </p>
            <div class="sub-email">
              <form
                name="subscriptionForm"
                submit-validate
                role="form"
                enctype="multipart/form-data"
                novalidate
              >
                <div class="group-control">
                  <input
                    ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/"
                    name="email"
                    id="email"
                    ng-model="MAC.email"
                    placeholder="{{'Enter your email address' | translate}}"
                    class="form-control"
                    required
                  />
                  <span
                    style="color:red;"
                    ng-show="subscriptionForm.email.$error.pattern"
                    >{{ "INVALID EMAIL" | translate }}</span
                  >
                  <div class="text-center">
                    <button
                      type="button"
                      ng-click="MAC.subscription(subscriptionForm,MAC.email)"
                      class="btn btn-default subscribes"
                    >
                      {{ "Subscribe" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--
            <div class="app-section">





              <ul class="app-main">






                <li  ng-repeat="rc in rc.appstore" >






                  <a href={{rc.url}} ng-if="rc.name=='App Store'"  target="_blank"><img src="uploads/images/homepage/app-store.png">   </a>






                   <a href={{rc.url}} ng-if="rc.name=='Google Play'"  target="_blank"><img src="uploads/images/homepage/google-app.png">   </a>






                </li>








             </ul>






            </div>
          -->
        </div>
      </div>
    </div>
  </section>

  <section
    class="handy-home-address"
    ng-if="rc.getsetting.location && rc.getsetting.siteaddress"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <!-- <h2 class="section-title">{{rc.getsetting.siteaddress}}</h2> -->

          <!--
            <div ng-repeat=" loc in rc.getsetting.location.split(',')" >





            {{loc.split(',')[0]}}  </div>
          -->
          <!--
            <div class="map location">





               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.659221783588!2d80.25115571482287!3d13.057350190799706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526640756150db%3A0x679c65a5186aac8c!2sCasperon!5e0!3m2!1sen!2sin!4v1503900246209" frameborder="0" style="border:0" allowfullscreen></iframe>






            </div>
          -->
          <!-- <div class="map location" ng-if="rc.getsetting.location"> -->
          <!-- style="width:600px; height:400px" -->
          <!--
            <ng-map id="map" zoom="15" center="[40.74, -74.18]" zoom="2">






            <marker position="{{rc.getsetting.location}}" title="{{rc.getsetting.location}}" animation="Animation.BOUNCE" centered="true"></marker>
          -->
          <!--
            <marker position="Brampton Canada" title="Brampton Canada"></marker>
          -->
          <!--
            </ng-map>





            </div>
          -->
        </div>
      </div>
    </div>
  </section>

  <!--
    <section class="section-white land-slide">






        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">






            <div class="carousel-inner">






                <uib-carousel interval="MAC.myInterval">






                    <uib-slide ng-repeat="slide in MAC.banner" active="slide.active">






                        <img ng-src="{{slide.image}}" style="margin:auto;">






                        <div class="carousel-caption">






                            <p><strong>{{slide.description}}</strong></p>






                        </div>






                    </uib-slide>






                </uib-carousel>






             </div>






       </div>






    






    <div class="forms-holer home">






        <div class="container">






            <div class="main-text search-bar">






                <form name="searchform" class="frm-fields" submit-validate role="form" novalidate>






                    <div class="col-md-5 srch-box cat-lists" ng-class="{ 'has-error' : searchform.searchfield.$invalid && !searchform.searchfield.$pristine, 'has-success' : searchform.searchfield.$valid && !searchform.searchfield.$pristine}">






                        <ui-select name="parent" ng-model="searchData.parent" theme="selectize" on-select="MAC.getsubcategory(searchData.parent._id)"






                            class="form-control" title="Choose a Category">






                            <ui-select-match placeholder="{{'CHOOSE A CATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>






                            <ui-select-choices repeat="item in MAC.data.response[4].Category | filter: $select.search">






                                <div ng-bind-html="item.name | highlight: $select.search"></div>






                            </ui-select-choices>






                        </ui-select>






                    </div>






                    <div class="col-md-5 srch-box sec-hlp">






                        <ui-select name="child" ng-model="searchData.child" theme="selectize" class="form-control" title="Choose a Subcategory">






                            <ui-select-match placeholder="{{'CHOOSE A SUBCATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>






                            <ui-select-choices repeat="item1 in MAC.subcategorydata | filter: $select.search">






                                <div ng-bind-html="item1.name | highlight: $select.search"></div>






                            </ui-select-choices>






                        </ui-select>






                    </div>






                    <div class="col-md-2 srch-box">






                        <button type="submit" ng-click="search(searchData)">{{'SEARCH' | translate}}<i class="fa fa-search" aria-hidden="true"></i></button>






                    </div>






                </form>






    






                <span class="shadow"></span>






            </div>






        </div>






    </div>






    </section>






    






    <section>






        <div class="how-it-works-section">






            <div class="container">






                <span class="totp-tile">{{'HOW' | translate}} {{MAC.data.response[2].Settings.settings.site_title}} {{'WORKS' | translate}}</span>






    






                <ul class="how-itsworks">






                    <li class="col-md-4" ng-repeat="postheader in MAC.postheader">






                        <div class="worksteps-holder">






                            <figure><img src="{{postheader.image}}"></figure>






                            <span class="sml-titl">{{postheader.title}}</span>






                            <p class="descrb">{{postheader.description}}</p>






                        </div>






                    </li>






                </ul>






            </div>






        </div>






    </section>






    <section>






        <div class="how-it-works-section">






            <div class="container">






                <span class="totp-tile">{{'Payment and Pricing' | translate}} </span>






    






                <ul class="how-itsworks">






                    <li class="col-md-4" ng-repeat="payment in MAC.paymentprice">






                        <div class="worksteps-holder">






                            <figure><img src="{{payment.image}}"></figure>






                            <span class="sml-titl">{{payment.seo.title}}</span>






                            <p class="descrb">{{payment.description}}</p>






                        </div>






                    </li>






                </ul>






            </div>






        </div>






    </section>






    






    






    <section>






        <div class="hirecontainer serives-sec">






            <div class="container">






                <span class="top-text-til">{{'HIRE FOR A RANGE' | translate}}</span>






                <ul class="hireloop">






                    <li class="col-md-3" ng-repeat="categoryinfo in MAC.data.response[0].ActiveCategory">






                        <div class="prodt-container">






                            <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">






                                <figure>






                                    <div afkl-lazy-image="{{categoryinfo.image}}" class="afkl-lazy-wrapper" lazyerr></div>






                                    <div class="mask"></div>






                                </figure>






                                <figcaption>






                                    <h4 class="futer-text">{{categoryinfo.name}}</h4>






                                </figcaption>






                            </a>






    






                        </div>






                    </li>






                    <button ng-if="MAC.data.response[4].Category.length>9" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ui-sref="morecategories({slug:MAC.data.response[0].ActiveCategory.length})">More Categories</button>






                </ul>






            </div>






        </div>






    </section>






    <section class="email-notify">






        <div class="hirecontainer">






            <div class="container">






                <form name="subscriptionForm" submit-validate role="form" enctype="multipart/form-data" novalidate>






                    <div class="form-group" ng-class="{ 'has-error' : subscriptionForm.email.$invalid && !subscriptionForm.email.$pristine, 'has-success' : subscriptionForm.email.$valid && !subscriptionForm.email.$pristine}">






                        <label for="email">{{'SUBSCRIPTION' | translate}}</label>






                        <input type="email" name="email" id="email" class="form-control" ng-model="MAC.email" placeholder="{{'EMAIL ADDRESS '| translate}}"






                            required>






                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="MAC.subscription(subscriptionForm,MAC.email)">{{'SUBSCRIBE' | translate}}</button>






                    </div>






                </form>






            </div>






        </div>






    </section>
  -->

  <!--
    <script>





    






    var h = window.innerHeight






    || document.documentElement.clientHeight






    || document.body.clientHeight;






    






    






    $("#banner").css({"height":h});






    






    $(window).resize(function(){






    var h = window.innerHeight






    || document.documentElement.clientHeight






    || document.body.clientHeight;






    $("#banner").css({"height":h});






    });






    






    $(window).on("scroll", function() {






        var fromTop = $("body").scrollTop();






        $('.handy-home-header .navbar').toggleClass("fixed", (fromTop > 100));






        });






    






    // makes the parallax elements






    function parallaxIt() {






      // create variables






      var $fwindow = $(window);






      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;






    






      var $contents = [];






      var $backgrounds = [];






    






      // for each of content parallax element






      $('[data-type="content"]').each(function(index, e) {






        var $contentObj = $(this);






    






        $contentObj.__speed = $contentObj.data("speed") || 1;






        $contentObj.__fgOffset = $contentObj.offset().top;






        $contents.push($contentObj);






      });






    






      // for each of background parallax element






      $('[data-type="background"]').each(function() {






        var $backgroundObj = $(this);






    






        $backgroundObj.__speed = $backgroundObj.data("speed") || 1;






        $backgroundObj.__fgOffset = $backgroundObj.offset().top;






        $backgrounds.push($backgroundObj);






      });






    






      // update positions






      $fwindow.on("scroll resize", function() {






        scrollTop = window.pageYOffset || document.documentElement.scrollTop;






    






        $contents.forEach(function($contentObj) {






          var yPos = $contentObj.__fgOffset - scrollTop / $contentObj.__speed;






    






          $contentObj.css("top", yPos);






        });






    






        $backgrounds.forEach(function($backgroundObj) {






          var yPos = -(






            (scrollTop - $backgroundObj.__fgOffset) /






            $backgroundObj.__speed






          );






    






          $backgroundObj.css({






            backgroundPosition: "50% " + (yPos * 2.5) +  "px"






          });






        });






      });






    






      // triggers winodw scroll for refresh






      $fwindow.trigger("scroll");






    }






    






    parallaxIt();






    






    </script>
  -->

  <script>
    $(document).ready(function() {
      var h =
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight;

      $("#banner").css({ height: h });

      $(window).resize(function() {
        var h =
          window.innerHeight ||
          document.documentElement.clientHeight ||
          document.body.clientHeight;
        $("#banner").css({ height: h });
      });

      setTimeout(function() {
        $(".jarallax").jarallax({
          speed: 0.2
        });
      }, 10);
    });
  </script>

  <!--
    <section class="handy-home-footer" style="background: url('uploads/images/homepage/footerbg.png');background-size: 96%;   background-repeat: no-repeat;





    background-position: 50% 50%;">






      <div class="footer">






        <div class="container">






          <div class="row">






            <div class="col-md-12 col-sm-12 col-xs-12">






              <img style="width: auto; min-height: 40px; max-height: 40px;" src="{{rc.getsetting.logo}}" alt="footerlogo">






              <ul class="social-icons">






                <li ng-repeat="rc in rc.social" ng-if="rc.name=='Facebook' || rc.name=='Twitter' || rc.name=='Google Plus' || rc.name=='Youtube' ">






                  <a href={{rc.url}} ng-if="rc.name=='Facebook'" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i></a>






                  <a href={{rc.url}} ng-if="rc.name=='Twitter'" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i></a>






                  <a href={{rc.url}} ng-if="rc.name=='Google Plus'" target="_blank"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>






                  <a href={{rc.url}} ng-if="rc.name=='Youtube'" target="_blank"> <i class="fa fa-youtube-play" aria-hidden="true"></i></a>






                </li>






              </ul>






              <div class="app-section">






                <ul class="app-main">






                  <li ng-repeat="rc in rc.appstore">






                    <a href={{rc.url}} ng-if="rc.name=='App Store'" target="_blank"><img src="uploads/images/homepage/app-store.png"> </a>






                    <a href={{rc.url}} ng-if="rc.name=='Google Play'" target="_blank"><img src="uploads/images/homepage/google-app.png"> </a>






                  </li>








                </ul>






              </div>






              <ul class="footer_links">






                <li ng-repeat="data in rc.pages" ng-init="outerIndex = $index">







                  <a ng-repeat="pagename in data.categoryname" href="page/{{pagename.slug}}">{{pagename.name}} <span ng-if="outerIndex < rc.pagescount-1"> &nbsp;&nbsp;&nbsp;| </span> </a>






                </li>






              </ul>







              <p class="copyright">Copyright &copy; {{rc.copyrightYear | date:'yyyy'}} {{rc.getsetting.site_title}}. ALL right reserved.</p>






            </div>






          </div>






        </div>






      </div>






    </section>
  -->
</section>
