<div class="signup-page mob-bx">
  <div style="background-image: url('{{rc.signupimg.image}}');" class="sinupimg-container"></div>
  <div class="sign-up-holder handy-signup-holder">
    <div class="logo-container">
      <a ui-sref="landing"><img src="{{rc.getsetting.logo}}"></a>
    </div>
    <ul class="sign-btns">
      <li><a class="blue-btn" ui-sref="social({type:'user'})" href="/social"> {{'I_NEED_HELP_WITH_TASKS' | translate}}</a></li>
      <!--<li><a class="grn-btn" ui-sref="becometasker.step0">{{'I_WANT_TO_BE_A_TASKER' | translate}}</a></li>-->
	  <li><a class="grn-btn" ui-sref="becometasker.step0">{{'I Want To Be A Service Provider' | translate}}</a></li>
    </ul>
  </div>
</div>
