extends layout_ar

block vars
  - var title='Step 1'
  - var description = 'Maidac Tasker Registration'
block content
    form(action='/mobile/provider/arabic/register/step2?lang='+lang, method='post', name="step1", id="step1")
      .signup-page
        .sign-up-holder.login-holder
          .logo-container
            a(href='#')
              img(src=siteurl+logo)
          ul.sign-btns.list-inline
            li
              label(for='firstname',class='control-label') #{ __("الاسم الاول") }
                span.ast *
              input#firstname.step_one_input(type='text', name='firstname', value=formdata.name.first_name required)
            li
              label(for='lastname',class='control-label') #{ __("اسم العائلة") }
                span.ast *
              input#lastname.step_one_input(type='text', name='lastname', value=formdata.name.last_name required)
            li
              label(for='username',class='control-label') #{ __("اسم المستخدم") }
                span.ast *
              input#username.step_one_input(type='text', name='username', value=formdata.username required )
            li
              label
                | #{ __("عنوان البريد الالكتروني") }
                span.ast *
              | &#x9;
              input#email.step_one_input(type='text', name='email', value=formdata.email)
            li
              label
                | #{ __("رقم الاتصال") }
                span.ast *
              input#phone.step_one_input( type="tel", name='phonenumber', value="",placeholder=__('رقم الاتصال') )
              input#phonecode(type='hidden', name='phone[code]', value="")
              input#phonenumber(type='hidden', name='phone[number]', value="")
            //li
              label
                | #{ __("Gender") }
                span.ast
              select#Gender.step1_select(name='gender', value=formdata.gender  )
                option#Genderr(value='' ) #{ __("Select a Gender") }
                option(value='male' selected=formdata.gender=='Male') #{ __("Male") }
                option(value='female' selected=formdata.gender=='Female') #{ __("Female") }
                option(value='none' selected=formdata.gender=='None') #{ __("Rather Not Say") }
            li
              label
                | #{ __("كلمه السر") }&#x9;
                span.ast *
              input#password.password.step_one_input(type='password', name='password')
            li
              label
                | #{ __("تأكيد كلمة المرور") }
                span.ast *
              input#confirmpassword.password.step_one_input(type='password', name='confirmpassword')
            li
              input#terms(type='checkbox', name='terms')
              small
                | #{ __("لقد قرات ووافقت على ال") }
                a(href=siteurl+'mobile/terms-condition') #{ __("شروط الخدمة") }
                |    #{ __("و") }
                a(href=siteurl+'mobile/privacy-policy')  #{ __("سياسة الخصوصية") }.
            li
          input#submit_btn.btn.btn-default.grn-btn.blu-btn(type='submit', value=__('استمر'))
